  <div class='container'>
  <div class="splash text-center">
    <h1>Welcome to  Expenses app</h1>
    <p>A EP is an expense app thay allows you to keep track your out going expenses.</p>
    <div class="splash-buttons">
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg mr-2' %>
      <%= link_to 'Log In', new_user_session_path, class: 'btn btn-secondary btn-lg' %>
    </div>
  </div>
</div>